<div th:fragment="commonscript(script)">

    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/ajax-mail.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.mb.YTPlayer.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/plugins.js"></script>
    <th:block th:replace="${script}"></th:block>
    <script src="/js/main.js"></script>

</div>